.Support{
    border-top: 4px solid #e8e8e8;

}

/* .main-text-1 h1::after{
        content: '';
        position: absolute;
        width: 20%;
        height: 80%;
        background-image: url(../../assests/dots.png);
        left: 50%;
        transform: translate(-50%);
        z-index: -1;
        bottom: -5px;
} */

.main-text-1 h1 {
    color: var(--mainColor);
    font-size: 55px !important;
    font-weight: 500;
}




.Support .card {
    background-color: #f6f6f6a2 !important;
    border: 0 !important;
    
}


.Support .card img{
height: 150px;
object-fit:contain;
}


.Support .card .btn-Service{
    color: white !important;
    background-color: var(--mainColor);
}

.Support .card .btn-Blog{

    color: #ffbb29 !important;
    border: 2px solid #013e6a ;
    transition:all .3s;
}
.Support .card .btn-Blog:hover{
    color: white !important;
    background-color: #013e6a;
}

.Support .card span{
    font-size: 35px;
    color: var(--mainColor);
    font-weight: bold;
}

.Support .main-text h1::after {
    content: '';
    position: absolute;
    width: 22%;
    height: 20%;
    /* background-image: url(../../assests/dots.png); */
    background-color: var(--yellow);
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    bottom: 13px;
}

.spport_span{
    color: var(--yellow);
}

@media (max-width: 570px) {
    .Support .main-text h1::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 20%;
        background-color: var(--yellow);
        left: 50%;
        transform: translate(-50%);
        z-index: -1;
        bottom: 13px;
    }
    
}