.service_body h4 {
    color: var(--mainColor);
    font-weight: 600;
    background-color: #e7e7e7;
}


.service_select {
    margin-top: 75px;
}

.btn_service {
    background-color: var(--mainColor) !important;
    color: white !important;
}

.serv-border {
    border: 1px solid #1313133f !important;
    border-radius: 5px !important;
}


.service_span {
    color: var(--yellow);
}

@media (max-width: 570px) {
    .service_header .main-text h1 {
        font-size: 38px !important;
    }

    .service_header .main-parg {
        max-width: 365px;
    }

}