.not-page{
    min-height: 100vh;
}

.not-page-info h2{
    font-size: 100px;
    color: var(--mainColor);
    font-weight: bolder;
    margin-bottom: 0 !important;
}



.btn-notfound{
    background-color: var(--mainColor) !important;
    color: white !important;
}
.btn-notfound:hover {
    background-color: #114b74 !important;
    color: white !important;
}