.team-text{
    font-size: 50px;
    text-align: center;
    color: var(--mainColor);
    font-weight: bolder;
}

.team img{
    height: 280px !important;
    object-fit: cover !important;
}
.btn-team{
    background-color: var(--mainColor) !important;
    color: white !important;
}

@media (max-width: 570px) {
    .team .main-text h1 {
        font-size: 38px !important
    }
}
