.team-text{
    font-size: 50px;
    text-align: center;
    color: var(--mainColor);
    font-weight: bolder;
}

.team img{
    height: 280px !important;
}
.btn-team{
    background-color: var(--mainColor) !important;
    color: white !important;
}

.team .main-text h1::after {
    content: '';
    position: absolute;
    width: 17%;
    height: 20%;
    /* background-image: url(../../assests/dots.png); */
    background-color: var(--yellow);
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    bottom: 13px;
}

@media (max-width: 570px) {
    .team .main-text h1::after {
        content: '';
        position: absolute;
        width: 70%;
        height: 20%;
        /* background-image: url(../../assests/dots.png); */
        background-color: var(--yellow);
        left: 50%;
        transform: translate(-50%);
        z-index: -1;
        bottom: 13px;
    }
}