.main-text h1{
    color: var(--mainColor);
    font-size: 55px !important;
    font-weight: 500;
}
.about .main-text h1::after{
   content: '';
   position: absolute;
   width: 15%;
   height: 20%;
   /* background-image: url(../../assests/dots.png); */
   background-color: var(--yellow);
   left: 50%;
   transform: translate(-50%);
   z-index: -1;
   bottom: 13px;
}
.about-img::after{
    content: '';
        position: absolute;
        width: 80%;
        height: 80%;
        background-image: url(../../assests/dots.png);
        left: -30px;
        z-index: -1;
        bottom: -35px;
}
.about-img img{
    border-radius: 15px !important;
}
.about{
    border-top: 4px solid #e8e8e8;
}

.about-span-header span{
    color: var(--yellow);
}

.about-text h4{
font-size: 30px;
color: var(--mainColor);
font-weight: 500;
text-transform: capitalize;

}

.about-text-span{
color: var(--yellow);
}

.about i{
    background-color: var(--mainColor);
    height: 30px;
    color: white;
    padding: 8px;
    border-radius:7px;
    
}
@media (min-width: 992px) and (max-width: 1200px) {
.about-text h4 {
        font-size: 20px;
        color: var(--mainColor);
    }
        .about .main-text h1::after {
            content: '';
            position: absolute;
            width: 25%;
            height: 20%;
            /* background-image: url(../../assests/dots.png); */
            background-color: var(--yellow);
            left: 50%;
            transform: translate(-50%);
            z-index: -1;
            bottom: 13px;
        }
}


@media (max-width: 570px) {
    .about .main-text h1::after {
            content: '';
            position: absolute;
            width: 83%;
            height: 20%;
            /* background-image: url(../../assests/dots.png); */
            background-color: var(--yellow);
            left: 50%;
            transform: translate(-50%);
            z-index: -1;
            bottom: 13px;
        }
                .about-text h4 {
                    font-size: 20px;
                    color: var(--mainColor);
                }

}