.home{
    min-height: calc(100vh - 74px) !important;
    background:url('../../assests/beams-home@95.jpg') ;
    background-size: contain ;
    background-position: center;
    
}


.home .home-text h1{
    color: var(--mainColor);
    font-weight: 700;
    font-size: 70px;
    letter-spacing: -1px;
}

.home .home-text h3{
font-weight: 400;
}

.home .home-img img{
    width: 550px;
}

.home h3{
    color: var(--mainColor);
    font-weight: 400;
}

.btncolor{
    background-color: var(--mainColor) !important;
    color: white !important;
}

@media (max-width: 576px) {
.home .home-text h1 {
        color: var(--mainColor);
        font-weight: 700;
        font-size: 50px;
        letter-spacing: -1px;
    }
        .home .home-img img {
            width: 100%;
        }
    
}
@media (min-width: 992px) and (max-width: 1200px){
    
    
        .home h1 {
            color: var(--yellow);
            font-size: 33px;
        }

                .home h3 {
                    color: var(--mainColor);
                    font-weight: 400;
                    font-size: 25px;
                }
}
