.img-card img {
    height: 75vh;
    object-fit: cover;
    filter: blur(2px);
    margin-bottom: 25px;
}

.blog-info p{
text-align: justify ;
}

.blog-info h2{
    color: var(--mainColor); 
    font-weight: bold;
}