.feedback{
    border-top: 4px solid #e8e8e8;
}

textarea {
    resize: none !important;
}
.inputArea{
    border: 1px solid #013E6A !important;
        border-radius: 5px !important;
}



@media (max-width: 570px) {
    .feedback .main-text h1 {
        font-size: 38px !important;
            
    }

    .about-text h4 {
        font-size: 20px;
        color: var(--mainColor);
    }

}