.come-title h2{
    background-color: var(--mainColor);
    width: 250px;
    margin: auto;
    color: white;
    padding: 10px 0px;
    /* border: 1px solid var(--yellow); */
    border-radius: 20px;
    margin-bottom: 25px;
}
.come-title h2::after{
    content: '';
    position: absolute;
    background-color: var(--mainColor);
    width: 50%;
    height: 2px;
    bottom: 50%;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}
.come-card {
    background-color: #f6f6f6;
    padding: 25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid var(--mainColor);
    margin: auto;
}
.come-card img{
    margin-top: 25px;
    
}



@media (max-width: 776px) {
    
    
.come-card {
        background-color: #f6f6f6;
        padding: 25px;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 5px solid var(--mainColor);
        margin: auto;
        max-width: auto;
    }

    .come-card img {
        margin-top: 25px;
    }

}