/* img icon */
.regImg{
    width: 70px;
    right: 0;
    top: -43px;
    z-index: -1;
    right: 10px;
}

/* 
text style
*/
.reg-text h1{
    font-weight: bold !important;
    color: var(--mainColor) !important ;
    
}
.sign-up{
    color: var(--yellow);
}
.btnColor{
    background-color: var(--mainColor) !important;
    color: white !important;
    
}

.inputRes{
    border-radius: 7px !important;
}
.lableRes{
    padding-left: 5px;
}