.blog-image {
    padding: 12px;
}
.blog-image img {
    height: 250px;
    border-radius: 5px;
    object-fit: cover;

}
.blog-title {
    color: var(--mainColor);
}

.blod_span {
    color: var(--yellow);
}
.blog-link {
    color: rgb(235, 172, 0) !important;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500 !important;
    text-align: center !important;
    border: 1px solid #013E6A;
    border-radius: 10px;
    text-align: center !important;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s ;
    width: 100% !important;

}
.blog-link:hover{
    background-color: #013E6A;
    color: white !important;
}

.blog-link i {
    padding-left: 7px;
    font-size: 17px;
}

.blog-header .main-text h1::after {
    content: '';
    position: absolute;
    width: 17%;
    height: 20%;
    background-color: var(--yellow);
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    bottom: 13px;
}

@media (max-width: 570px) {
    .blog-header .main-text h1::after {
        content: '';
        position: absolute;
        width: 70%;
        height: 20%;
        background-color: var(--yellow);
        left: 50%;
        transform: translate(-50%);
        z-index: -1;
        bottom: 13px;
    }
}