
.blog-image{
    padding: 15px;
}
.blog-image img{
    height: 250px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    object-fit: cover;
  
}

.blog-title{
    color: var(--mainColor);
}



.blog-link{
color:rgb(235, 172, 0)  !important;
text-decoration: none;
font-size: 16px;
font-weight: 500 !important;
text-align: center !important;
border: 1px solid black;
border-radius: 10px;
text-align: center !important ;
}

.blog-link i{
    padding-left: 7px;
    font-size: 17px;

}

